@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
:root {
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --radius-sm: 0.3rem;
  --radius-md: 0.5rem;
  --max-width: 1200px;
  --navbar-height: 4rem;
  --footer-min-height: 8rem;
  --min-height: calc(100vh - var(--navbar-height) - var(--footer-min-height));
  --white: #f9f9f6;
  --black: #1a1a1a;
  /* Base colors */
  --base-white: #fff;
  --base-black: #000;
  /* gray color palette */
  --gray-25: #fcfcfd;
  --gray-50: #f9fafb;
  --gray-100: #f2f4f7;
  --gray-200: #eaecf0;
  --gray-300: #d0d5dd;
  --gray-400: #98a2b3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #182230;
  --gray-900: #101828;
  --gray-950: #0c111d;
  /* brand color palette */
  --brand-25: #f5faff;
  --brand-50: #eff8ff;
  --brand-100: #d1e9ff;
  --brand-200: #b2ddff;
  --brand-300: #84caff;
  --brand-400: #53b1fd;
  --brand-500: #2e90fa;
  --brand-600: #1570ef;
  --brand-700: #175cd3;
  --brand-800: #1849a9;
  --brand-900: #194185;
  --brand-950: #102a56;
  /* error color palette */
  --error-25: #fffbfa;
  --error-50: #fef3f2;
  --error-100: #fee4e2;
  --error-200: #fecdca;
  --error-300: #fda29b;
  --error-400: #f97066;
  --error-500: #f04438;
  --error-600: #d92d20;
  --error-700: #b42318;
  --error-800: #912018;
  --error-900: #7a271a;
  --error-950: #55160c;
  /* warn color palette */
  --warn-25: #fffcf5;
  --warn-50: #fffaeb;
  --warn-100: #fef0c7;
  --warn-200: #fedf89;
  --warn-300: #fec84b;
  --warn-400: #fdb022;
  --warn-500: #f79009;
  --warn-600: #dc6803;
  --warn-700: #b54708;
  --warn-800: #93370d;
  --warn-900: #7a2e0e;
  --warn-950: #4e1d09;
  /* success color palette */
  --success-25: #f6fef9;
  --success-50: #ecfdf3;
  --success-100: #dcfae6;
  --success-200: #abefc6;
  --success-300: #75e0a7;
  --success-400: #47cd89;
  --success-500: #17b26a;
  --success-600: #079455;
  --success-700: #067647;
  --success-800: #085d3a;
  --success-900: #074d31;
  --success-950: #053321;
  --border-dark: 1px solid var(--gray-700);
  --border-light: 1px solid var(--gray-300);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:focus {
  outline: none;
}
.editorMenu {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.editorMenu button {
}
.editorMenu button:hover {
  background: #f5f5f5;
}
.editorMenu button:active {
  background: #f0f0f0;
}
.editorMenu button.active {
  background: #eee;
}
.editorMenu button i {
  font-size: 1.2rem;
}
.editorMenu.floating button i {
  font-size: 1rem;
}
.output {
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 1rem;
  max-width: 40rem;
  margin: 0 auto;
}
.blockquote {
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  padding: 1rem;
  box-shadow: inset 4px 0 red;
  background: #f6f6f9;
}
.hard-break {
  white-space: pre-line;
}
