.editorMenuBar,
.editorMenuBarButtonGroup {
  display: flex;
}
.editorMenuBar {
  flex-wrap: wrap;
  border-bottom: var(--border-light);
  border-radius: var(--radius-sm) var(--radius-sm) 0 0;
  background: var(--gray-50);
  overflow: hidden;
}
.editorMenuBarButtonGroup {
  box-shadow: inset -1px 0 var(--gray-200);
  flex-shrink: 0;
  padding: 0 var(--space-xs);
}
